@import '../bootstrap.scss';

.page-contributions-in-3rd-party {

  .col-logo {
      text-align: center;
  }

  .logo {
      width: 64px;
  }

  h2 {
      text-align: center;
  }

  .table-of-contents {
    .h2 {
      font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
  }

  @include media-breakpoint-up(lg) {
      h2 {
          text-align: left;
      }
  }

  .lib-item {
      margin-top: 20px;
      margin-bottom: 40px;
      background: transparent url('data:image/svg+xml;charset=utf-8;base64,'
      + base64Encode('<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">'
      + '<text>asdf</text></svg>')) 0 0 no-repeat;
  }

  .badge {
    margin-right: 4px;
  }

}