@import '../custom.scss';
@import '../bootstrap.scss';

.page-my-projects {
  h1 {
    @extend .font-marck-script;
    @extend .text-center;
    font-size: 4em;
  }

  h2 {
    @extend .font-marck-script;
    font-size: 3em;
  }

  > * {
    margin-bottom: 20px;
  }
}
