@import '../bootstrap.scss';

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.nav-menu {

  a.navbar-brand {
      white-space: normal;
      text-align: center;
      word-break: break-all;
  }

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  .nav-icon {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .icon-github {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .nav-icon-label {
    display: inline;
    margin-left: 10px;
  }

  @include media-breakpoint-up(lg) {
    .nav-icon-label {
      display: none;
    }
  }
}
