@import '../custom.scss';
@import '../bootstrap.scss';

.tech-writings-page {
  .site-category-name {
    @extend .font-marck-script;
    @extend .text-center;
    font-size: 4em;
  }

  > * {
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.4em;
  }

  .writing-props-row {
    @extend .row;
    margin-right: 0px;
    margin-left: 0px;
  }
}
