@import '../custom.scss';
@import '../bootstrap.scss';

.video-game-devs-page {
  padding-bottom: 20px;

  h2 {
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    h2 {
      text-align: left;
    }
  }

  .intro {
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    
    *[class^="col"] {
      max-width: 800px;
    }
  }

  .section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* height: calc(100vh / 2); */
    /* min-height: 355px; */
    /* height: 420px; */
  }

  .section:nth-child(odd) {
    flex-direction: row;
    background-color: #e7faf5;
  }

  .section:nth-child(even) {
    flex-direction: row-reverse;
    background-color: inherit;
  }

  .col-tags {
    @extend .col-center;

    > .badge {
      margin-right: 4px;
    }
  }

  @include media-breakpoint-up(lg) {
    .col-tags {
      display: flex;
      justify-content: left;
    }
  }
}
