@import '../custom.scss';
@import '../bootstrap.scss';

.video-game-devs-page {
  padding-bottom: 20px;

  h2 {
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    h2 {
      text-align: left;
    }
  }

  .intro {
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    
    *[class^="col"] {
      max-width: 800px;
    }
  }

  .page-section:nth-child(4n+1) {
    .row {
      flex-direction: row;
    }
    background-color: inherit;
  }
  
  .page-section:nth-child(4n+3) {
    .row {
      flex-direction: row-reverse;
    }
    background-color: #e7faf5;
  }

  @include media-breakpoint-up(lg) {
    .page-section {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }

  @include media-breakpoint-up(xl) {
    .page-section {
      padding-top: 6em;
      padding-bottom: 6em;
    }
  }
    
  .col-tags {
    @extend .col-center;

    > .badge {
      margin-right: 4px;
    }
  }

  @include media-breakpoint-up(lg) {
    .col-tags {
      display: flex;
      justify-content: left;
    }
  }
}
