// Import Bootstrap's functions and variables first
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Override Bootstrap variables here
$primary: #ff5733;
$font-family-base: 'Arial, sans-serif';

// Override container width variables
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px
);

$white: #ffffff;

$theme-colors: (
    "light":      #e6e8f5,
    "dark":       #254846,
    "primary":    #ed292c,
    "secondary":  #dc925a,
    "info":       #ffca3f,
    "success":    #6fc200,
    "warning":    #ffca8b,
    "danger":     #ff076c,
);

@import 'bootstrap/scss/bootstrap';

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
