@import 'bootstrap.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';

@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

.font-common {
  font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.font-marck-script {
  font-family: 'Marck Script', cursive;
}

body {
  @extend .font-common;
  padding-top: 4.5em;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main-content-container {
  min-height: 0px;

  .header {
    @extend .font-marck-script;
    @extend .text-center;
  }
}

h1 {
  @extend .font-marck-script;
  @extend .text-center;
  font-size: 4em;
  margin-bottom: 1em;
}

.introduction-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

@include media-breakpoint-up(lg) {
  .introduction-container {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@include media-breakpoint-up(xl) {
  .introduction-container {
    margin-left: 220px;
    margin-right: 220px;
  }
}

.main-content-message {
  @extend .main-content-container;
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;

  > div {
    @extend .d-flex;
    @extend .align-items-center;
    max-width: 400px;
  }
}

.page-section {
  min-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 2em;
  padding-bottom: 2em;
}

@include media-breakpoint-up(lg) {
  .page-section {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}

.table-of-contents {
  @extend .page-section;
  @extend .text-center;

  ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
  }

  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .h2 {
    @extend .font-common;
    font-size: 1.6em;
  }

  .h3 {
    @extend .font-common;
    font-size: 0.7em;
  }
}

@include media-breakpoint-up(md) {

  .main-content-container {
    min-height: 0px;
  }
  
  .main-content-message {
    > div {
      max-width: 600px;
    }
  }

}

.col-center {
  display: flex;
  justify-content: center;
}

.col-left {
    display: flex;
    justify-content: left;
}

.anchor {
  position: relative;
  top: -60px;
}

.youtube-video {
  width: 440px;
  height: 248px;
  margin-top: 10px;
  margin-bottom: 20px;
}

@include media-breakpoint-up(sm) {
  .youtube-video {
    width: 560px;
    height: 315px;
  }
}

@include media-breakpoint-up(lg) {
  .youtube-video {
    margin-bottom: 0px;
  }
}

pre {
  font-family: "Consolas", "Monaco", "Lucida Console";
  font-size: 0.9em;
  background-color: rgb(59, 59, 59);
  color: lightgray;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

@include media-breakpoint-up(lg) {
  pre {
    margin-left: 5em;
    margin-right: 5em;
  }
}
