@import 'bootstrap.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';

@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

body {
  padding-top: 4.5em;
  font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.font-marck-script {
  font-family: 'Marck Script', cursive;
}

.main-content-container {
  min-height: calc(100vh - 90px);

  .header {
    @extend .font-marck-script;
    @extend .text-center;
  }

  h1 {
    @extend .header;
    font-size: 4em;
  }
}

.main-content-message {
  @extend .main-content-container;
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;

  > div {
    @extend .d-flex;
    @extend .align-items-center;
    max-width: 400px;
  }
}

@include media-breakpoint-up(md) {

  .main-content-container {
    min-height: calc(100vh - 100px);
  }
  
  .main-content-message {
    > div {
      max-width: 600px;
    }
  }

}

.col-center {
  display: flex;
  justify-content: center;
}

.col-left {
    display: flex;
    justify-content: left;
}

.youtube-video {
  width: 440px;
  height: 248px;
  margin-top: 10px;
  margin-bottom: 20px;
}

@include media-breakpoint-up(sm) {
  .youtube-video {
    width: 560px;
    height: 315px;
  }
}

@include media-breakpoint-up(lg) {
  .youtube-video {
    margin-bottom: 0px;
  }
}
