@import '../../custom.scss';
@import '../../bootstrap.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';

.home-page {

  .site-name {
    @extend .font-marck-script;
    @extend .text-center;
    font-size: 6em;
  }

  .site-category-name {
    @extend .font-marck-script;
    @extend .text-center;
  }

  @include media-breakpoint-up(lg) {
    .site-name {
      font-size: 10em;
    }
  }

  .menu {
    margin-bottom: 20px;
  }

  .image-cropper {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
  }

  .icon-frame {
    height: 160px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .my-projects-icon-frame {
    @extend .icon-frame;
  }

  .my-projects-icon {
    width: 160px;
  }

  .code-project-icon-frame {
    @extend .image-cropper;
    @extend .icon-frame;
  }

  .code-project-icon {
    position: absolute;
    width: 170px;
    top: -5px;
    left: -1px;
  }

  .devs-in-3rd-party-icon-frame {
    @extend .image-cropper;
    @extend .icon-frame;
    border-radius: 0%;
  }

  .devs-in-3rd-party-icon {
    position: absolute;
    width: 160px;
    top: 0px;
    left: 0px;
  }

  .blender-unity-icon-frame {
    @extend .icon-frame
  }

  .blender-unity-icon {
    position: relative;
    top: -90px;
    width: 180px;
  }

  .site-category-col:hover {
    box-shadow: 3px 3px 2px grey;
    border: 1px solid grey;
  }

}
